
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: grey;
    color: bisque;
}
h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
#icon {
    animation: iconRotation 6000ms infinite forwards;
}
.container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}
#textarea {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 3rem;
    padding: 10px;
}
p {
    text-align: center;
    font-size: small;
    display: inline;
}
.metadata {
    text-align: center;
    font-size: small;
    margin: 1rem;
}
.data-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons {
    display: flex;
    gap: 1rem;
}
.resultText {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}
.btn {
    font-weight: bold;
    font-size: 0.8em;
    padding: 0.8em;
    border-radius: 15px;
    border: none;
    background: bisque;
    box-shadow: 2px 2px 3px;
    align-self: center;
}
#save {
    display: none;
}
#preview  {
    background-color: white;
    border: 3px black solid;
}
@keyframes iconRotation {
    0 {} 
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 1000px) {
    .resultText {
        flex-direction: row;
        gap: 2rem;
        justify-content: space-evenly;
        margin-bottom: 3rem;
    }
}